 @import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Montserrat:wght@200;300;400;700&display=swap');

 :root {
   --color-body: #ede2f1;
    --color-heading: #0b042d;
    --color-highlight: #5e17eb;
    --color-primary: #280a63;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-primary: "Montserrat";
}

body {
    background-color: var(--color-body);
    /* color: var(--color-body); */
    font-family: var(--font-primary), sans-serif;
}

h1,h2,h3,h4,h5,h6, p{
    color: black;
    font-weight: 700;
}
h2{
  font-weight: 400;
}
.bi, .skills{
  color: var(--color-highlight);
  font-size: x-large;
}
.skills{
  color: var(--color-highlight);
  font-size: 2.5rem;
  padding-right: 20px;
}
.ini_contact{
  display: flex;
}
.ini_contact p{
  font-weight: 300;
  align-items: baseline;
}
a {
    text-decoration: none;
    /* color: var(--color-body); */
    transition: all 0.4s ease;
}

a:hover {
    color: var(--color-highlight);
}

img {
    width: 100%;
}

.text-highlight {
    color: var(--color-highlight);
}

.bg-base {
    background-color: var(--color-primary);
}

/* NAVBAR */
.navbar {
    /* background-color: var(--color-primary); */
    background: black;
}

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
} */
 h3{
  color: #eef3db;
}
.text-brand {
  color: var(--color-brand);
}
.img-nav{
  width: 160px;
}
.btn-brand{
  background-color: var(--color-brand);
  border-color: var(--color-brand);
}
.btn-brand:hover{
  background-color: var(--color-brand2);
  border-color: var(--color-brand2);
}
.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255,255,255, 0.1);
}
@media (min-width: 992px) {
    .navbar {
        min-height: 100vh;
        width: var(--sidbar-width);
        background: var(--color-heading);
        background-size: cover;
        background-position: center;
    }

    .navbar-brand img {
        border: 8px solid var(--color-brand);
    }

    /* CONTENT WRAPPER */
     #content-wrapper {
        padding-left: var(--sidbar-width);
    }
}
